.blog{
  .content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0;
  width:100%;
}

.post{
width: 40%;
}

  h3{
    color: #AEB3C6;
    font-size: 0.7rem;
    font-weight:100;
  }
}
