.blog{
  .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    margin:0;
    width:100%;
    justify-content: space-between;
    align-items: flex-end;
  }

  .post{
    width: 48%;
    color: $primary-gray;
  }

  .post-image img{
    width:100%;
    height:235px;
  }

  h2 a:hover{
    text-decoration: underline;
    color: $teal;
  }
}
