@import 'variables';

footer {
	clear: both;
  background:#383838;
  color:white;
  text-align: center;
  p{
    padding: 20px 0;
    margin: 0;
  }
  a{
    color: $white;
    &:hover{
      color: $green;
    }
  }
}