// ========================================================
// HOME
// ========================================================

// MIXINS
// ========================================================
@mixin center-all(){
	justify-content: center;
	align-items: center;
}
@mixin nice-box(){
	box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
}
@mixin bg-image(){
	background-size: cover;
	background-position: center;
	background-color: rgba(43,7,7,0.4);
	background-blend-mode: darken;
}
@mixin trans(){
	transition: all 0.3s ease;
}

// ========================================================
// GENERAL
// ========================================================
.home-wrapper{
	margin: 0 auto;
	h1, h2, h3, h4, h5, h6{
		font-weight: 100;
		text-align: center;

	}
	h2{
		font-size: 6rem;
		margin: 1%;
	}
	h3{
		font-size: 3rem;
		margin: 0 8%;
	}
	h4{
		font-size: 6rem;
		font-weight: 100;
		margin: 0.5% 1%;
	}
	h5{
		font-weight: 300;
		font-size: 2rem;
		margin: 15px 0;
	}
	p.lead{
		font-weight: 300;
		font-size: 2rem;
		margin:0 10% 3% 10%;
		text-align: center;
	}
}//home-wrapper

// ========================================================
// HERO
// ========================================================
.hero{
	@include bg-image();
	background-image: url(assets/hero-bg.jpg);
}
.hero-wrapper{
	display: flex;
	flex-direction: column;
	text-align: center;
	color: $white;
	height: 90vh;
	padding-top: 10%;
	@include center-all();
	i{
		font-size: 5rem;
		color: $white;
	}
}//hero-wrapper
.hero-button{
	padding: 20px 40px;
	background: $green;
	font-weight: 100;
	font-size: 2rem;
	margin: 4%;
	&:hover{
		background: lighten($green, 5%);
		cursor: pointer;
	}
}

// ========================================================
// ABOUT
// ========================================================
.about-wrapper{
	text-align: center;
	margin: 5% 0;
	h4{color: $text-dark;}
	.lead{color: $text-light;}

}//about-wrapper
.about-text{
	margin: 0 8%;
	color: $text-dark;
}
.about-values{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin: 4% auto;
	color: $text-dark;
}
.value{
	width: 220px;
	margin: 1%;
	color: $text-light;
		h5{
			color: $text-dark;
		}
	div{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 5px solid darken($white, 2%);
		@include nice-box();
		display: flex;
		@include center-all();
		margin: 0 auto;
		@include trans();
		&:hover{
			transform: scale(1.1);
		}
		i{
			color: $white;
			font-size: 3rem;
		}
	}// div
}// .value
.value1{background: $green;}
.value2{background: $blue;}
.value3{background: $purple;}
.value4{background: $dblue;}
.value5{background: $yellow;}
.value6{background: $orange;}
.value7{background: $red;}
.value8{background: $grey;}

// ========================================================
// DONATE
// ========================================================

.donate{
	@include bg-image();
	background-image: url(assets/donate-bg.jpg);
}
.donate-wrapper{
	text-align: center;
	color: $white;
	padding: 8% 0;
	display: flex;
	flex-direction: column;
	@include center-all();
	.lead, .about-text{
		color: $white;
	}
} //donate-wrapper

// ========================================================
// TEAM
// ========================================================

.team-wrapper{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 8% 0;
	background: $team-bg;
	h4{color: $text-dark;}
	.lead{color:$text-light;}
}
.team-member-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin: 1% auto;
}
.team-member{
	display: flex;
	flex-direction: column;
	width: 220px;
	margin: 1%;
	background: $member-bg;
	border: 1px solid $white;
	padding:1%;
	img{
		width: 100%;
		border-radius: 50%;
	}
} //team-member
.member-image{
	display: flex;
	padding: 8%;
}
.member-face{
	width: 80%;
	padding-right: 6%;
}
.member-social{
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	span{
		display: flex;
		@include center-all();
		border-radius: 50%;
		background: $social;
		height:33px;
		width: 33px;
		color: $white;
		font-size: 1.3rem;
		@include trans();
		&:hover{
			background: $social-hover;
		}
	}//social span
}// member-social

.member-name{
	h5{
		margin: 0;
		font-weight: 300;
		color: $text-dark;
	}
	p{
		margin: 2% 0 10% 0;
		text-transform: uppercase;
		color: $text-light;
	}
}// member-name

.triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 33px 37.5px 0 37.5px;
	border-color: $team-bg transparent transparent transparent;
	margin: 0 auto;
}

// ========================================================
// EVENTS
// ========================================================

.events-outer-wrapper{
	h4{color: $text-dark;}
	.lead{color:$text-light;}
}
.events-wrapper{
	text-align: center;
	display: flex;
	flex-direction: column;

	.home-post-item{
		text-align: left;
		padding: 3% 5%;
		font-size: 3rem;
		font-weight: 100;
		background: lighten(#7090A8, 5%);
		a{
			color: $white;
			transition: all 0.2s ease;
			&:hover{
				margin-left: 20px;
			}
		}
		&:nth-child(2){
			background: #7090A8;
		}
		&:nth-child(3){
			background: #517991;
		}
		&:nth-child(4){
			background: #19344D;
		}
		&:nth-child(5){
			background: #172C43;
		}
	} //div
}//events-wrapper

// ========================================================
// GALLERY
// ========================================================
.gallery{
	background: $gallery-green;
	color: $white;
}
.gallery-wrapper{
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 5% 0;
}
.gallery-items-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.gallery-item{
	margin: 5px;
	width: 200px;
	img{
		width: 100%;
	}
}
// ========================================================
// CONTACT
// ========================================================
.gallery .triangle{
	border-color: #172C43 transparent transparent transparent;
}
.contact-wrapper{
	text-align: center;
	display: flex;
	flex-direction: column;
}



























