.main-nav .container{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	background: #383838;
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	width:100%;
}

nav{
	display:flex;
	align-items: center;
}

ul.menu {
	margin: 0;
	padding: 0;
	li {
		display: inline;
		margin-right: 10px;
		a {
			color: #333;
			padding: 15px;
			color: white;
			text-transform: uppercase;
			font-size: 1.2rem;
			&:hover{
				border-bottom: 3px solid white;
			} //hover
		}// a
	}// li
}// ul.menu
