.post-content{
  .entry-content{
    display:flex;
    flex-direction:row;
    justify-content: center;
  }

  .entry-img{
    width: 100%;
  }

.navigation{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
}
