// VARIABLES
// ========================================================
$white: #fff;
$green: #2CC65D;
$orange: #DE6A1B;
$blue: #2B84D3;
$dblue:#212F3E;
$purple: #9E62B7;
$red: #DF342E;
$yellow: #EDBA10;
$grey: #869292;
$member-bg: #EFEFEF;
$team-bg: #F4F5F6;
$social-hover: #46AB91;
$social: #8CA0A9;
$gallery-green: #46AB91;
$text-dark: #637B88;
$text-light: #A4B6BE;
$primary-gray: #818688;
$teal: #55B8A3;
